*{
    margin: 0px;
    padding: 0px;
    font-family: "Century Gothic";
}

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: white;
    transition: 1.5s ease;
    overflow: hidden;
}

.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}

/* ===================================================================================*/
/* ============================== Header portion begins ==============================*/
/* ===================================================================================*/

#upperSection{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    position: fixed;
    top: 0%;
    background: white;
    height: 170px;
    width: 100%;
    z-index: 1950;
    font-size: 1.5vh;
    transition: 1.5s ease;
    box-shadow: black 2px 2px 60px;
}

#logo{
    margin-right: 2vh;
    transition: 1.5s ease;
}
/* ==== upper portion of the uppersection ==== */
#upperPart{
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0px;
    transition: 1.5s ease;
}

#searchSection{
    margin-top: 15px;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    color: white;
    border-radius: 10px;
    width: 30%;
    height: 35%;
}

#select{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#search{
    height: 100%;
    width: 40px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    transition: 0.3s ease;
    margin: 0px;
    background: #E8E8E8;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#searchIcon{
    transition: 0.5s ease;
    opacity: 0.5;
}

#search:hover #searchIcon{
    opacity: 1;
}

#searchBar{
    outline-style: none;
    width: 83%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-style: none;
    background: #E8E8E8;
    transition: 0.6s ease;
    padding: 0 20px;
}

input[type=radio]{
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

#resetLocation{
    color: black;
    transition: 1.5s ease;
}
/* ==== upper portion of the uppersection ==== */


/* ==== lower portion of the uppersection ==== */
#lowerPart{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: transparent;
    margin: 0px;
    height: 2vh;
    transition: 1.5s ease;
}

.button{
    margin-top: 1vh;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    outline-style: none;
    border-style: none;
    background: transparent;
    font-size: 1.5vh;
    font-weight: bolder;
    cursor: pointer;
    transition: 1.5s ease;
}

#mode{
    position: relative;
    top: 0vh;
    left: 8vw;
    display: flex;
    flex-flow: row wrap;
}

#checkbox{
    cursor: pointer;
    height: 2vh;
    width: 1.5vw;
}

#darkmode{
    margin-left: 10px;
}
/* ==== lower portion of the uppersection ==== */

/* =================================================================================*/
/* ============================== Header portion ends ==============================*/
/* =================================================================================*/



/* =================================================================================*/
/* ============================== Main portion begins ==============================*/
/* =================================================================================*/

#midSection{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    bottom: 1%;
    width: 100%;
    height: 85vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}


/* background images */
#background{
    position: absolute;
    bottom: 0%;
    z-index: -5;
    width: 100%;
    transition: 1.5s ease;
    opacity: 1;
}
#background2{
    position: absolute;
    bottom: 0%;
    width: 100%;
    transition: 1.5s ease;
    opacity: 0;
    z-index: -5;
}
/* background images */


/* map settings */
#mapid {
    height: 70vh;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    padding: 10px;
    margin-top: 2vh;
    transition: 1.5s ease;
    margin-right: 15vw;
}
/* map settings */


/* ==== filter section ==== */
#filters{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 15%;
    position: relative;
    bottom: 2.5%;
    left: 10%;
    transition: 0.8s;
}


/* Filter button section */
#displayFilters{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    background-image: linear-gradient(to left, #DCDCDC, #F5F5F5);
    border: black solid 2px;
    -webkit-transform: rotate(-90deg);
    width: 4vw;
    margin: 0px;
    position: relative;
    color: black;
    border-radius: 8px 8px 3px 3px;
    border-bottom-style: none;
    transition: 0.2s;
    padding: 5px;
    height: 8vh;
    left: 15%;
}
#arrow{
    opacity: 0;
    position: relative;
    transition: 0.7s;
}
#displayFilters:hover #arrow{
    opacity: 1;
}
#displayFilters:hover #filterTxt{
    opacity: 0;
}

#displayFilters:active{
    background-image: linear-gradient(to right, #696969, #909090);
    color: white;
}
#filterTxt{
    opacity: 1;
    position: relative;
    bottom: 50%;
    font-size: 1vw;
}
/* Filter button section */


#colors{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: relative;
    left: 10%;
    align-items: center;
    height: 68vh;
    width: 10vw;
    margin-top: 2vh;
    transition: 0.6s;
    background-image: linear-gradient(to bottom, #C8C8C8, #DCDCDC, #F5F5F5);
    border-radius: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 10px;
}

.color{
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: white;
    font-size: 1.5vh;
    height: 4%;
    box-shadow: black 5px 5px 5px;
    transition: 0.05s ease;
    border: black solid 2px;
}

.color:active{
    font-size: 1.4vh;
    box-shadow: black 2px 2px 2px;
    width: 96%;
}

.color:hover{
    filter:brightness(80%);
}

#color1{ background: blue; }
#color2{ background: yellow; color: black; }
#color3{ background: green; }
#color4{ background: white; color: black; }
#color5{ background: white; color: black; }
#color6{ background: crimson; }
#color7{ background: orange; color: white; }
#color8{ background: darkkhaki; }
#color9{ background: yellow;color: black; }
#color10{ background: magenta; color: white; }
#color11{ background: darkslategray; color: white; }
#color12{ background: darkblue; color: white; }
#color13{ background: red; }
#color14{ background: brown; }
#color15{ background: black; color: white; }
#color16{ background: slategrey; }
/* ==== filter section ==== */

/* ===============================================================================*/
/* ============================== Main portion ends ==============================*/
/* ===============================================================================*/




/* ================================================================================================*/
/* ============================== Introduction screen portion begins ==============================*/
/* ================================================================================================*/

#intro{
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    color: white;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    z-index: 2000;
    transition: 2s;
    background-image: linear-gradient(to top, #505050, #F0F0F0, #909090, #505050);
}

#intro2{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 1vw;
    height: 10vh;
    width: 40vw;
    border-radius: 5px;
}

#continue{
    background: white;
    color: black;
    width: 15%;
    height: 30%;
    border-radius: 5px;
    transition: 0.1s ease;
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    animation: blink 1000ms infinite;
}
#continue:hover{
    background: darkgray;
}

@keyframes blink{
    /* Intro button blinking animation */
    0% { background-color: #E8E8E8; }
    10%{ background-color: #D8D8D8; }
    20%{ background-color: #C8C8C8; }
    30%{ background-color: #B0B0B0; }
    40%{ background-color: #A0A0A0; }
    50%{ background-color: #888888; }
    60%{ background-color: #A0A0A0; }
    70%{ background-color: #B0B0B0; }
    80%{ background-color: #C8C8C8; }
    90%{ background-color: #D8D8D8; }
    100%{ background-color: #E8E8E8; }
}

/* ==============================================================================================*/
/* ============================== Introduction screen portion ends ==============================*/
/* ==============================================================================================*/




/* ==========================================================================================================*/
/* ============================== Media queries to make the website responsive ==============================*/
/* ==========================================================================================================*/

@media (min-width: 2000px) and (min-height: 1000px){
    #first{ margin-top: 30px; }
}

/* ==== settings for a laptop-sized screen ==== */
@media (max-width: 1700px) {
    #searchSection{ width: 50%; }
    #upperSection{ height: 140px; }
    .button{ font-size: 2vh; }
    #searchBar{ width: 40vw; }
    #mapid{ margin-top: 5vh; height: 70vh; }
    #colors{ margin-top: 4vh; }
    #displaycolors{ left: 7%; }
    #intro2{ font-size: 2vw; }
    #continue{ font-size: 1vw; }
    #filters{ width: 16%; }
    #displayFilters{ left: 13%; width: 5vw; }
}
/* ==== settings for a laptop-sized screen ==== */


/* ==== settings for mobile screens ==== */
@media (max-width: 1000px) {
    #upperSection{ flex-flow: column wrap; height: 20%; }
    #upperPart { position: absolute; top: 7vh; }
    #midSection{ flex-flow: column wrap; }
    #logo{ position: absolute; top: -4vh; }
    #background{ visibility: hidden; }
    #background2{ visibility: hidden; }
    #searchSection{ position: absolute; top: 5vh; width: 50%; }
    #searchBar{ height: 3vh; }
    #search{ height: 3vh; }
    #displaycolors{ visibility: hidden; }
    #startlogo{ width: 80vw; }
    #intro{ visibility: hidden; }
    #resetLocation{ margin-left: 15vw; }
    #displayFilters{ visibility: hidden; }
    .color{ height: 15%; }
    body{ background-image: url("images/mobilebackground.jpg"); }
    #lowerPart{
        position: absolute;
        top: 16vh;
        left: 4vw;
        background: transparent;
        color: black;
    }
    #mapid{
        height: 40vh;
        width: 90vw;
        bottom: 20%;
        left: 8%;
    }
    #colors{
        width: 100%;
        height: 40%;
        position: absolute;
        bottom: 0%;
        flex-flow: column wrap;
        visibility: visible;
        background: transparent;
    }
    #filters{
        position: absolute;
        height: 90%;
        bottom: 5%;
        width: 25%;
        left: 5%;
    }
}
/* ==== settings for mobile screens ==== */