*{
    margin: 0px;
    padding: 0px;
}

#mapid {
    height: 70vh;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    padding: 10px; 
    margin-top: 2vh;
    transition: 1.5s ease;
    margin-right: 15vw;
}

#displaycolors{
    border-radius: 4px;
    position: absolute;
    top: 1%;
    left: 3%;
    width: 4.5vw;
    height: 4vh;
    transition: 0.3s ease;
    background: white;
    box-shadow: black 1px 1px 5px;
    z-index: 1800;
}

#displaycolors:hover{
    background: gray;
}

#displaycolors:active{
    background: black;
    color: white;
}

.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
#uppersection{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    position: fixed;
    top: 0%;
    background: white;
    height: 170px;
    width: 100%;
    z-index: 1950;
    font-size: 1.5vh;
    transition: 1.5s ease;
    box-shadow: black 2px 2px 60px;
}

#logo{
    margin-right: 2vh;
    transition: 1.5s ease;
}

#first{
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0px;
    transition: 1.5s ease;
}

.button{
    margin-top: 1vh;
}

#resetLocation{
    color: black;
    transition: 1.5s ease;
}

#second{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: transparent;
    margin: 0px;
    height: 2vh;
    transition: 1.5s ease;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    outline-style: none;
    border-style: none;
    background: transparent;
    font-family: "Century Gothic";
    font-size: 1.5vh;
    font-weight: bolder;
    cursor: pointer;
    transition: 1.5s ease;
}

#mode{
    position: relative;
    top: 0vh;
    left: 8vw;
    display: flex;
    flex-flow: row wrap;
}

#switch{
    cursor: pointer;
    height: 2vh;
    width: 1.5vw;
    background-color: gray;
}

#switch:hover {
    background-color: red;
    
}
#darkmode{
    margin-left: 10px;
}

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: white;
    font-family: "Century Gothic";
    transition: 1.5s ease;
    overflow: hidden;
}

#midsection{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    bottom: 1%;
    width: 100%;
    height: 85vh;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
}

#colorbutton{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 15%;
    position: relative;
    left: 10%;
    transition: 1s;
}

#colorbutton2{
    background: white;
    border: black solid 2px;
    -webkit-transform: rotate(-90deg);
    width: 4vw;
    margin: 0px;
    position: relative;
    color: black;
    border-radius: 8px 8px 3px 3px;
    border-bottom-style: none;
    transition: 0.2s;
    padding: 5px;
    height: 8vh;
    left: 15%;
}

#arrow{
    opacity: 0;
    position: relative;
    transition: 0.7s;
}
#colorbutton2:hover #arrow{
    opacity: 1;
}

#colorbutton2:hover #colorText{
    opacity: 0;
}
#colorText{
    opacity: 1;
    position: absolute;
    left: 1%;
    top: 10%;
}

#colorbutton2:hover{
    background: ghostwhite;
}

#colorbutton2:active{
    background: black;
    color: white;
}

#background{
    position: absolute;
    top: 0%;
    z-index: 0;
    width: 100%;
    transition: 1.5s ease;
    opacity: 1;
}
#background2{
    position: absolute;
    bottom: -20%;
    width: 100%;
    transition: 1.5s ease;
    opacity: 0;
}
#colors{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: relative;
    left: 10%;
    align-items: center;
    align-content: center;
    height: 68vh;
    width: 10vw;
    margin-top: 2vh;
    transition: 0.6s;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 10px;
}

#srch{
    margin-top: 15px;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    color: white;
    border-radius: 10px;
    width: 30%;
    height: 35%;
}

#select{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#search{
    height: 100%;
    width: 40px;
    font-family: "Century Gothic";
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    transition: 0.3s ease;
    margin: 0px;
    background: #E8E8E8;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;   
}
#srchicon{
    transition: 0.5s ease;
    opacity: 0.5;
}

#search:hover #srchicon{
    opacity: 1;
}

#searchBar{
    outline-style: none;
    width: 83%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-style: none;
    background: #E8E8E8;
    transition: 0.6s ease;
    padding: 0 20px;
}

input[type=radio]{
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.color{
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: white;
    font-size: 1.5vh;
    height: 4%;
    box-shadow: black 5px 5px 5px;
    transition: 0.05s ease;
    border: black solid 2px;
}

.color:active{
    font-size: 1.4vh;
    box-shadow: black 2px 2px 2px;
    width: 96%;
}

.color:hover{
    filter:brightness(80%);
}

#vari1{
    background: blue;
}

#vari1:active{
    font-size: 1.4vh;
    box-shadow: black 2px 2px 2px;
    width: 96%;
}

#vari2{
    background: yellow;
    color: black;
}


#vari3{
    background: green;
}



#vari4{
    background: white;
    color: black;
}

#vari5{
    background: white;
    color: black;
}

#vari6{
    background: crimson;
}

#vari7{
    background: orange;
    color: white;
}

#vari8 {
    background: darkkhaki;
}

#vari9{
    background: yellow;
    color: black;
}

#vari10{
    background: magenta;
    color: white;
}

#vari11{
    background: darkslategray;
    color: white;
    font-size: 1.2vh;

}
#vari11:active{
    font-size: 1vh;
    box-shadow: black 2px 2px 2px;
    width: 96%;
}

#vari12{
    background: darkblue;
    color: white;
}

#vari13{
    background: red;
}

#vari14{
    background: brown;
}

#vari15{
    background: black;
    color: white;
}

#vari16{
    background: slategrey;
}

#mobileReset{
    visibility: hidden;
}

#intro{
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    color: white;
    background: white;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    z-index: 2000;
    transition: 1.5s;
}

#intro2{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 1vw;
    height: 10vh;
    width: 40vw;
    border-radius: 5px;
}

#continue{
    background: white;
    color: black;
    width: 15%;
    height: 30%;
    border-radius: 5px;
    transition: 0.1s ease;
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    animation: blink 1000ms infinite;
}
#continue:hover{
    background: darkgray;
}

@keyframes blink{
    0% {
        background-color: #E8E8E8;
    }
    10%{
        background-color: #D8D8D8;
    }
    20%{
        background-color: #C8C8C8;
    }
    30%{
        background-color: #B0B0B0;
    }
    40%{
        background-color: #A0A0A0;
    }
    50%{
        background-color: #888888;
    }
    60%{
        background-color: #A0A0A0;
    }
    70%{
        background-color: #B0B0B0;
    }
    80%{
        background-color: #C8C8C8;
    }
    90%{
        background-color: #D8D8D8;
    }
    100%{
        background-color: #E8E8E8;
    }
}

#cover{
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: #181818;
    z-index: 1900;
    transition: 1.5s;
}

@media (min-width: 2000px) and (min-height: 1000px){
    #first{
        margin-top: 30px;
    }
}

@media (max-width: 1700px) {

    #srch{
        width: 50%;
    }
    #uppersection{
        height: 140px;
    }
    .button{
        font-size: 2vh;
    }
    #searchBar{
        width: 40vw;
    }
    #mapid{
        margin-top: 5vh;
        height: 70vh;
    }
    #colors{
        margin-top: 4vh;
    }
    #displaycolors{
        left: 7%;
    }
    #intro2{
        font-size: 2vw;
    }
    #continue{
        font-size: 1vw;
    }
    #colorbutton{
        width: 16%;
    }

    #colorbutton2{
        left: 13%;
        width: 5vw;
    }


}

@media (max-width: 1000px) {
    #uppersection{
        flex-flow: column wrap;
        height: 20%;
    }
    #first {
        position: absolute;
        top: 7vh;
    }
    #midsection{
        flex-flow: column wrap;
    }
    #logo{
        position: absolute;
        top: -4vh;
    }
    #background{
        visibility: hidden;
    }
    #background2{
        visibility: hidden;
    }
    #srch{
        position: absolute;
        top: 5vh;
        width: 50%;
    }
    #searchBar{
        height: 3vh;
    }
    #search{
        height: 3vh;
    }
    #second{
        position: absolute;
        top: 16vh;
        left: 4vw;
        background: transparent;
        color: black;
    }
    body{
        background-image: url("images/mobilebackground.jpg");
    }
    #mapid{
        height: 40vh;
        width: 90vw;
        bottom: 20%;
    }
    #colors{
        width: 100%;
        height: 40%;
        position: absolute;
        bottom: 0%;
        flex-flow: column wrap;
        visibility: visible;
        background: transparent;
    }
    .color{
        height: 15%;
    }
    #colorbutton2{
        visibility: hidden;
    }
    #colorbutton{
        position: absolute;
        height: 90%;
        bottom: 5%;
        width: 25%;
        left: 35%;
    }
    #displaycolors{
        visibility: hidden;
    }
    #startlogo{
        width: 80vw;
    }
    #cover{
        visibility: hidden;
    }
    #intro{
        visibility: hidden;
    }
    #resetLocation{
        margin-left: 15vw;
    }
}